<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <h1>About Us</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae illo sunt incidunt dicta? Quibusdam ad dolor corrupti in ipsa dignissimos odio? Non repudiandae, alias voluptate consequuntur veniam modi nostrum repellendus.</p>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About Us</a>
    </nav>
</body>
</html>