<!DOCTYPE html>
<html lang="en">
    <%-include('./partials/header.ejs')%>

<body>
    <%-include('./partials/nav.ejs')%>

    <div class="about-content">
        <h3>About Us</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum error eveniet possimus facilis! Modi dicta minus facere, nam explicabo corporis, dolorum maiores qui eligendi debitis voluptatibus id maxime rerum ullam.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum error eveniet possimus facilis! Modi dicta minus facere, nam explicabo corporis, dolorum maiores qui eligendi debitis voluptatibus id maxime rerum ullam.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum error eveniet possimus facilis! Modi dicta minus facere, nam explicabo corporis, dolorum maiores qui eligendi debitis voluptatibus id maxime rerum ullam.</p>
    </div>
    <%-include('./partials/footer.ejs')%>

</body>
</html>